.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  background: #fff;
  display: block;
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.log {
  
}